POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=very_strong_and_random_secret_key
DEBUG=False
ALLOWED_HOSTS=84.201.148.251